@import "./reset/_basic-reset.scss";

$grey: #f7f7f7;


body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-color: $grey;
}

img {
  margin-bottom: 3rem;
}

h1,
p {
  font-family: Helvectica, Arial, sans-sarif;
  font-weight: 300;
  margin-bottom: 1.5rem;
}