section.counter-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  padding: 0 0 50px 0;
  font-family: 'Roboto', Helvectica, Arial, sans-sarif;
  input {
    width: 50%;
    border: 1px solid black;
    margin: 5px 0;
    padding: 20px;
    font-size: 1em;
  }
  button {
    border-style: none;
    border: 1px solid black;
    background-color: white;
    width: 50%;
    padding: 20px;
    margin-bottom: 5px;
    cursor: pointer;
    font-size: 1em;
    text-transform: capitalize;
  }
  #start-btn {
    background-color: #2ecc71
  }
  #reset-btn {
    background-color: #e74c3c;
  }
  #clear-btn {
    background-color: #3498db;
  }
}

@media (max-width: 800px) {
  section.counter-wrapper {
    input,
    button {
      width: 100%;
    }
  }
}